.add-service form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-service form input,textarea{
    width: 40%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: 1px solid aqua;
    outline-offset: 3px ;
}